In [1]:
'''
=================================================
Graded Challenge 2

Nama  : Rahardiansyah Fatoni
Batch : RMT-27

Melakukan data exploration, cleaning, dan normalisasi menggunakan pandas, selanjutnya akan diuji sebagai database di postgres.
=================================================
'''

'\n=================================================\nGraded Challenge 2\n\nNama  : Rahardiansyah Fatoni\nBatch : RMT-27\n\nMelakukan data exploration, cleaning, dan normalisasi menggunakan pandas, selanjutnya akan diuji sebagai database di postgres.\n=================================================\n'

In [2]:
import pandas as pd # import library yang akan digunakan

### **1. Eksplorasi Data**

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/Financials.csv")
df.head(20)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014
5,Government,Germany,Carretera,None,"$1,513.00",$3.00,$350.00,"$5,29,550.00",$-,"$5,29,550.00","$3,93,380.00","$1,36,170.00",01/12/2014,12,December,2014
6,Midmarket,Germany,Montana,None,$921.00,$5.00,$15.00,"$13,815.00",$-,"$13,815.00","$9,210.00","$4,605.00",01/03/2014,3,March,2014
7,Channel Partners,Canada,Montana,None,"$2,518.00",$5.00,$12.00,"$30,216.00",$-,"$30,216.00","$7,554.00","$22,662.00",01/06/2014,6,June,2014
8,Government,France,Montana,None,"$1,899.00",$5.00,$20.00,"$37,980.00",$-,"$37,980.00","$18,990.00","$18,990.00",01/06/2014,6,June,2014
9,Channel Partners,Germany,Montana,None,"$1,545.00",$5.00,$12.00,"$18,540.00",$-,"$18,540.00","$4,635.00","$13,905.00",01/06/2014,6,June,2014
10,Midmarket,Mexico,Montana,None,"$2,470.00",$5.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014
11,Enterprise,Canada,Montana,None,"$2,665.50",$5.00,$125.00,"$3,33,187.50",$-,"$3,33,187.50","$3,19,860.00","$13,327.50",01/07/2014,7,July,2014
12,Small Business,Mexico,Montana,None,$958.00,$5.00,$300.00,"$2,87,400.00",$-,"$2,87,400.00","$2,39,500.00","$47,900.00",01/08/2014,8,August,2014
13,Government,Germany,Montana,None,"$2,146.00",$5.00,$7.00,"$15,022.00",$-,"$15,022.00","$10,730.00","$4,292.00",01/09/2014,9,September,2014
14,Enterprise,Canada,Montana,None,$345.00,$5.00,$125.00,"$43,125.00",$-,"$43,125.00","$41,400.00","$1,725.00",01/10/2013,10,October,2013
15,Midmarket,United States of America,Montana,None,$615.00,$5.00,$15.00,"$9,225.00",$-,"$9,225.00","$6,150.00","$3,075.00",01/12/2014,12,December,2014
16,Government,Canada,Paseo,None,$292.00,$10.00,$20.00,"$5,840.00",$-,"$5,840.00","$2,920.00","$2,920.00",01/02/2014,2,February,2014
17,Midmarket,Mexico,Paseo,None,$974.00,$10.00,$15.00,"$14,610.00",$-,"$14,610.00","$9,740.00","$4,870.00",01/02/2014,2,February,2014
18,Channel Partners,Canada,Paseo,None,"$2,518.00",$10.00,$12.00,"$30,216.00",$-,"$30,216.00","$7,554.00","$22,662.00",01/06/2014,6,June,2014
19,Government,Germany,Paseo,None,"$1,006.00",$10.00,$350.00,"$3,52,100.00",$-,"$3,52,100.00","$2,61,560.00","$90,540.00",01/06/2014,6,June,2014

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                700 non-null    object
 1   Country                700 non-null    object
 2    Product               700 non-null    object
 3    Discount Band         700 non-null    object
 4    Units Sold            700 non-null    object
 5    Manufacturing Price   700 non-null    object
 6    Sale Price            700 non-null    object
 7    Gross Sales           700 non-null    object
 8    Discounts             700 non-null    object
 9     Sales                700 non-null    object
 10   COGS                  700 non-null    object
 11   Profit                700 non-null    object
 12  Date                   700 non-null    object
 13  Month Number           700 non-null    int64
 14   Month Name            700 non-null    object
 15  Year                   700 non-null    int64
dtypes: int64(2), object(14)
memory usage: 87.6+ KB

In [5]:
df.columns = df.columns.str.strip() # digunakan untuk menghilangkan trailing space yang ada didepan nama kolom (Product, Manufacturing Price, Sale, dll.)

In [6]:
df['Discounts'].unique()

array([' $-   ', ' $276.15 ', ' $344.40 ', ' $72.10 ', ' $44.73 ',
       ' $92.82 ', ' $222.96 ', ' $4,235.00 ', ' $177.03 ', ' $173.40 ',
       ' $412.50 ', ' $320.52 ', ' $91.92 ', ' $1,482.00 ', ' $4,889.50 ',
       ' $7,542.50 ', ' $332.10 ', ' $6,903.00 ', ' $275.10 ',
       ' $128.10 ', ' $7,494.00 ', ' $828.75 ', ' $227.10 ', ' $314.48 ',
       ' $908.75 ', ' $983.75 ', ' $2,278.75 ', ' $112.05 ',
       ' $8,715.00 ', ' $772.80 ', ' $25.34 ', ' $1,153.75 ', ' $146.44 ',
       ' $18.41 ', ' $3,302.25 ', ' $2,958.00 ', ' $2,180.00 ',
       ' $238.68 ', ' $48.15 ', ' $1,856.25 ', ' $310.80 ', ' $1,284.00 ',
       ' $300.30 ', ' $19,964.00 ', ' $274.08 ', ' $626.40 ', ' $165.60 ',
       ' $4,150.00 ', ' $708.90 ', ' $5,508.00 ', ' $10,368.00 ',
       ' $1,655.00 ', ' $2,022.50 ', ' $5,362.50 ', ' $428.40 ',
       ' $11,496.00 ', ' $6,822.50 ', ' $577.50 ', ' $281.82 ',
       ' $253.20 ', ' $260.16 ', ' $20,762.00 ', ' $20,139.00 ',
       ' $217.60 ', ' $1,862.00 ', ' $13,580.00 ', ' $1,554.00 ',
       ' $6,606.00 ', ' $5,690.00 ', ' $494.40 ', ' $376.40 ',
       ' $15,913.13 ', ' $1,548.00 ', ' $6,201.00 ', ' $700.92 ',
       ' $326.88 ', ' $411.18 ', ' $684.36 ', ' $114.24 ', ' $18,868.50 ',
       ' $4,826.25 ', ' $6,397.50 ', ' $21,910.50 ', ' $6,652.50 ',
       ' $5,887.50 ', ' $493.02 ', ' $7,533.75 ', ' $875.25 ',
       ' $25,596.00 ', ' $689.76 ', ' $16,866.00 ', ' $17,241.00 ',
       ' $498.60 ', ' $369.60 ', ' $2,310.30 ', ' $892.44 ',
       ' $1,218.60 ', ' $1,356.60 ', ' $588.80 ', ' $798.28 ',
       ' $24,252.00 ', ' $3,836.00 ', ' $1,180.20 ', ' $22,308.00 ',
       ' $1,190.28 ', ' $3,975.00 ', ' $16,974.00 ', ' $35,016.00 ',
       ' $48,300.00 ', ' $14,940.00 ', ' $130.80 ', ' $1,659.20 ',
       ' $844.80 ', ' $402.60 ', ' $908.40 ', ' $703.20 ', ' $2,116.80 ',
       ' $30,478.00 ', ' $415.68 ', ' $4,886.00 ', ' $26,110.00 ',
       ' $5,370.00 ', ' $26,698.00 ', ' $24,892.00 ', ' $405.65 ',
       ' $480.20 ', ' $822.15 ', ' $941.15 ', ' $1,458.60 ', ' $589.05 ',
       ' $673.80 ', ' $1,119.00 ', ' $669.60 ', ' $1,563.00 ',
       ' $14,865.00 ', ' $355.60 ', ' $2,093.25 ', ' $199.50 ',
       ' $870.45 ', ' $24,228.75 ', ' $22,668.75 ', ' $12,600.00 ',
       ' $1,405.20 ', ' $16,500.00 ', ' $1,303.00 ', ' $18,700.00 ',
       ' $14,906.25 ', ' $24,105.00 ', ' $814.45 ', ' $10,535.00 ',
       ' $1,965.00 ', ' $21,490.00 ', ' $1,389.00 ', ' $5,381.25 ',
       ' $4,400.00 ', ' $1,802.00 ', ' $2,663.00 ', ' $747.60 ',
       ' $1,587.00 ', ' $416.25 ', ' $2,145.75 ', ' $5,043.75 ',
       ' $2,832.00 ', ' $1,579.00 ', ' $1,033.00 ', ' $18,750.00 ',
       ' $1,265.00 ', ' $2,297.00 ', ' $23,625.00 ', ' $9,660.00 ',
       ' $3,420.90 ', ' $1,341.00 ', ' $2,559.60 ', ' $404.64 ',
       ' $1,655.28 ', ' $1,827.00 ', ' $110.46 ', ' $20,580.00 ',
       ' $30,660.00 ', ' $589.26 ', ' $1,960.56 ', ' $31,416.00 ',
       ' $15,267.00 ', ' $7,140.00 ', ' $20,662.50 ', ' $1,377.00 ',
       ' $629.16 ', ' $21,978.00 ', ' $43,596.00 ', ' $1,347.60 ',
       ' $43,848.00 ', ' $35,259.00 ', ' $2,108.40 ', ' $1,978.20 ',
       ' $1,568.70 ', ' $1,037.70 ', ' $1,201.20 ', ' $559.86 ',
       ' $610.68 ', ' $1,582.56 ', ' $2,567.60 ', ' $1,965.60 ',
       ' $1,967.28 ', ' $505.19 ', ' $1,325.10 ', ' $556.15 ',
       ' $268.03 ', ' $775.18 ', ' $1,460.34 ', ' $1,860.60 ',
       ' $43,144.50 ', ' $9,408.00 ', ' $45,801.00 ', ' $2,766.40 ',
       ' $21,875.00 ', ' $35,742.00 ', ' $30,738.75 ', ' $2,206.05 ',
       ' $3,077.55 ', ' $2,149.00 ', ' $23,583.00 ', ' $29,484.00 ',
       ' $2,320.92 ', ' $1,041.25 ', ' $34,839.00 ', ' $852.60 ',
       ' $18,261.25 ', ' $1,989.40 ', ' $28,812.00 ', ' $823.20 ',
       ' $2,725.38 ', ' $57,687.00 ', ' $14,393.75 ', ' $70,462.00 ',
       ' $8,697.50 ', ' $1,565.20 ', ' $273.28 ', ' $2,051.20 ',
       ' $143.92 ', ' $15,400.00 ', ' $588.00 ', ' $38,136.00 ',
       ' $3,001.20 ', ' $1,132.80 ', ' $1,032.00 ', ' $37,488.00 ',
       ' $30,792.00 ', ' $853.20 ', ' $11,140.00 ', ' $705.04 ',
       ' $613.20 ', ' $2,185.60 ', ' $59,040.00 ', ' $379.68 ',
       ' $894.88 ', ' $1,349.04 ', ' $3,094.40 ', ' $4,788.80 ',
       ' $60,088.00 ', ' $1,089.76 ', ' $574.08 ', ' $1,627.92 ',
       ' $1,309.28 ', ' $9,264.00 ', ' $15,240.00 ', ' $16,086.00 ',
       ' $10,668.00 ', ' $11,816.00 ', ' $51,216.00 ', ' $19,392.00 ',
       ' $2,432.00 ', ' $1,320.00 ', ' $698.40 ', ' $29,538.00 ',
       ' $396.36 ', ' $1,02,667.50 ', ' $52,479.00 ', ' $8,694.00 ',
       ' $2,506.68 ', ' $20,891.25 ', ' $1,014.93 ', ' $31,466.25 ',
       ' $9,018.00 ', ' $69,255.00 ', ' $76,135.50 ', ' $4,961.25 ',
       ' $1,656.45 ', ' $35,748.00 ', ' $1,917.00 ', ' $330.75 ',
       ' $1,02,424.50 ', ' $41,170.50 ', ' $6,378.75 ', ' $23,737.50 ',
       ' $39,973.50 ', ' $2,112.48 ', ' $71,793.00 ', ' $42,572.25 ',
       ' $950.40 ', ' $50,409.00 ', ' $2,412.72 ', ' $9,866.25 ',
       ' $65,236.50 ', ' $1,309.50 ', ' $3,049.20 ', ' $1,193.40 ',
       ' $515.97 ', ' $1,706.40 ', ' $328.23 ', ' $1,751.40 ',
       ' $1,868.40 ', ' $226.80 ', ' $2,124.36 ', ' $3,547.80 ',
       ' $4,827.60 ', ' $2,201.18 ', ' $330.48 ', ' $463.20 ',
       ' $1,629.60 ', ' $43,068.75 ', ' $18,525.00 ', ' $80,955.00 ',
       ' $22,550.00 ', ' $3,108.00 ', ' $3,908.00 ', ' $17,730.00 ',
       ' $3,250.50 ', ' $482.00 ', ' $1,021.50 ', ' $765.00 ',
       ' $1,185.00 ', ' $22,365.00 ', ' $19,950.00 ', ' $68,820.00 ',
       ' $1,865.50 ', ' $23,950.00 ', ' $25,590.00 ', ' $4,262.50 ',
       ' $961.50 ', ' $98,245.00 ', ' $12,960.00 ', ' $31,612.50 ',
       ' $65,450.00 ', ' $7,237.50 ', ' $78,400.00 ', ' $89,790.00 ',
       ' $4,224.60 ', ' $4,078.00 ', ' $3,088.80 ', ' $24,745.00 ',
       ' $1,581.36 ', ' $1,949.64 ', ' $633.60 ', ' $623.04 ',
       ' $1,215.83 ', ' $1,326.60 ', ' $5,279.18 ', ' $2,556.84 ',
       ' $30,492.00 ', ' $92,763.00 ', ' $33,563.75 ', ' $2,574.00 ',
       ' $2,083.62 ', ' $29,491.00 ', ' $6,582.40 ', ' $3,559.05 ',
       ' $28,809.00 ', ' $2,468.40 ', ' $81,023.25 ', ' $5,314.32 ',
       ' $3,201.66 ', ' $5,266.80 ', ' $3,273.60 ', ' $45,078.00 ',
       ' $6,171.00 ', ' $1,080.75 ', ' $13,244.00 ', ' $1,392.16 ',
       ' $2,288.88 ', ' $7,617.50 ', ' $6,457.00 ', ' $43,518.75 ',
       ' $5,783.80 ', ' $19,703.75 ', ' $13,021.25 ', ' $292.60 ',
       ' $37,212.00 ', ' $36,240.00 ', ' $32,340.00 ', ' $4,840.20 ',
       ' $63,828.00 ', ' $2,032.80 ', ' $2,296.56 ', ' $4,116.00 ',
       ' $42,696.00 ', ' $1,25,820.00 ', ' $2,172.00 ', ' $66,948.00 ',
       ' $48,924.00 ', ' $77,400.00 ', ' $50,274.00 ', ' $684.00 ',
       ' $2,959.20 ', ' $58,590.00 ', ' $41,412.00 ', ' $3,036.96 ',
       ' $6,974.10 ', ' $26,166.00 ', ' $35,805.00 ', ' $11,340.00 ',
       ' $2,874.06 ', ' $4,586.40 ', ' $6,051.60 ', ' $3,831.84 ',
       ' $3,674.40 ', ' $1,252.44 ', ' $3,975.84 ', ' $5,005.65 ',
       ' $41,996.50 ', ' $81,445.00 ', ' $1,149.20 ', ' $44,703.75 ',
       ' $1,181.18 ', ' $942.24 ', ' $5,863.00 ', ' $3,247.40 ',
       ' $1,309.04 ', ' $31,473.00 ', ' $6,866.60 ', ' $7,040.80 ',
       ' $1,19,756.00 ', ' $25,723.75 ', ' $890.76 ', ' $2,453.36 ',
       ' $3,051.75 ', ' $16,243.50 ', ' $1,580.28 ', ' $7,795.13 ',
       ' $1,082.90 ', ' $1,287.00 ', ' $639.60 ', ' $1,01,595.00 ',
       ' $26,958.75 ', ' $2,761.20 ', ' $7,221.20 ', ' $4,880.40 ',
       ' $2,936.08 ', ' $274.40 ', ' $287.14 ', ' $583.80 ',
       ' $6,798.40 ', ' $3,710.70 ', ' $2,340.24 ', ' $3,385.20 ',
       ' $33,642.00 ', ' $17,902.50 ', ' $62,832.00 ', ' $42,420.00 ',
       ' $3,177.30 ', ' $4,830.00 ', ' $49,367.50 ', ' $1,09,147.50 ',
       ' $58,751.00 ', ' $9,800.00 ', ' $380.24 ', ' $1,692.46 ',
       ' $728.00 ', ' $5,187.00 ', ' $3,660.30 ', ' $4,895.52 ',
       ' $1,696.38 ', ' $34,300.00 ', ' $3,732.96 ', ' $57,673.00 ',
       ' $94,178.00 ', ' $27,562.50 ', ' $1,696.80 ', ' $1,03,320.00 ',
       ' $11,298.00 ', ' $1,06,512.00 ', ' $2,844.94 ', ' $1,06,722.00 ',
       ' $62,769.00 ', ' $37,296.00 ', ' $49,770.00 ', ' $4,158.00 ',
       ' $3,927.00 ', ' $22,012.50 ', ' $51,881.25 ', ' $20,343.75 ',
       ' $24,570.00 ', ' $3,474.00 ', ' $3,631.50 ', ' $2,661.75 ',
       ' $1,49,677.50 ', ' $5,757.75 ', ' $801.00 ', ' $2,643.75 ',
       ' $1,05,367.50 ', ' $1,12,927.50 ', ' $1,645.20 ', ' $879.00 ',
       ' $900.00 ', ' $6,358.50 ', ' $12,431.25 ', ' $1,15,830.00 ',
       ' $45,712.50 ', ' $2,596.50 ', ' $1,107.00 ', ' $55,387.50 ',
       ' $10,350.00 ', ' $1,11,375.00 ', ' $1,436.40 ', ' $759.15 ',
       ' $3,250.80 '], dtype=object)

Data berisi detil penjualan produk yang mencakup segmentasi, jumlah unit terjual, diskon, dan profit per bulan. Dengan total 700 *rows* dan 15 *columns*, setiap baris diisi dengan nilai, dan tipe data terdiri dari string dan int64.

In [7]:
df['Segment'].unique()

array(['Government', 'Midmarket', 'Channel Partners', 'Enterprise',
       'Small Business'], dtype=object)

Pada kolom 'Segment' terdapat 5 nilai unik yaitu: 'Government', 'Midmarket', 'Channel Partners', 'Enterprise','Small Business'

In [8]:
df['Country'].unique()

array(['Canada', 'Germany', 'France', 'Mexico',
       'United States of America'], dtype=object)

Pada kolom 'Country' terdapat 5 nilai unik yaitu: 'Canada', 'Germany', 'France', 'Mexico', 'United States of America'

In [9]:
df['Product'].unique()

array([' Carretera ', ' Montana ', ' Paseo ', ' Velo ', ' VTT ',
       ' Amarilla '], dtype=object)

Pada kolom 'Product' terdapat 6 nilai unik yaitu: ' Carretera ', ' Montana ', ' Paseo ', ' Velo ', ' VTT ',' Amarilla '. Nilai-nilai tersebut memiliki trailing space didepan dan dibelakangnya, oleh karena itu harus dilakukan .strip()

In [10]:
df['Product'] = df['Product'].str.strip()

In [11]:
df['Discount Band'].unique()

array([' None ', ' Low ', ' Medium ', ' High '], dtype=object)

Pada kolom 'Discount Band' terdapat 4 nilai unik yaitu: ' None ', ' Low ', ' Medium ', ' High '. Nilai-nilai tersebut memiliki trailing space didepan dan dibelakangnya, oleh karena itu harus dilakukan .strip()

In [12]:
df['Discount Band'] = df['Discount Band'].str.strip()

### **2. Data Cleaning**

Untuk memastikan tidak ada trailing space lagi dalam nilai di tabel, maka akan dicari seluruh nilai unique dari semua kolom yang memiliki nominal "$".

In [13]:
df['Units Sold'].unique()

array([' $1,618.50 ', ' $1,321.00 ', ' $2,178.00 ', ' $888.00 ',
       ' $2,470.00 ', ' $1,513.00 ', ' $921.00 ', ' $2,518.00 ',
       ' $1,899.00 ', ' $1,545.00 ', ' $2,665.50 ', ' $958.00 ',
       ' $2,146.00 ', ' $345.00 ', ' $615.00 ', ' $292.00 ', ' $974.00 ',
       ' $1,006.00 ', ' $367.00 ', ' $883.00 ', ' $549.00 ', ' $788.00 ',
       ' $2,472.00 ', ' $1,143.00 ', ' $1,725.00 ', ' $912.00 ',
       ' $2,152.00 ', ' $1,817.00 ', ' $1,493.00 ', ' $1,804.00 ',
       ' $2,161.00 ', ' $2,821.00 ', ' $2,001.00 ', ' $2,838.00 ',
       ' $1,527.00 ', ' $2,151.00 ', ' $2,750.00 ', ' $1,953.00 ',
       ' $4,219.50 ', ' $1,686.00 ', ' $2,141.00 ', ' $3,945.00 ',
       ' $2,296.00 ', ' $1,030.00 ', ' $639.00 ', ' $1,326.00 ',
       ' $1,858.00 ', ' $1,210.00 ', ' $2,529.00 ', ' $1,445.00 ',
       ' $330.00 ', ' $2,671.00 ', ' $766.00 ', ' $494.00 ',
       ' $1,397.00 ', ' $2,155.00 ', ' $2,214.00 ', ' $2,301.00 ',
       ' $1,375.50 ', ' $1,830.00 ', ' $2,498.00 ', ' $663.00 ',
       ' $1,514.00 ', ' $4,492.50 ', ' $727.00 ', ' $787.00 ',
       ' $1,823.00 ', ' $747.00 ', ' $2,905.00 ', ' $3,864.00 ',
       ' $362.00 ', ' $923.00 ', ' $2,092.00 ', ' $263.00 ', ' $943.50 ',
       ' $986.00 ', ' $1,744.00 ', ' $1,989.00 ', ' $321.00 ',
       ' $742.50 ', ' $1,295.00 ', ' $214.00 ', ' $2,145.00 ',
       ' $2,852.00 ', ' $1,142.00 ', ' $1,566.00 ', ' $690.00 ',
       ' $1,660.00 ', ' $2,363.00 ', ' $918.00 ', ' $1,728.00 ',
       ' $662.00 ', ' $809.00 ', ' $1,785.00 ', ' $1,916.00 ',
       ' $2,729.00 ', ' $1,925.00 ', ' $2,013.00 ', ' $1,055.00 ',
       ' $1,084.00 ', ' $2,966.00 ', ' $2,877.00 ', ' $544.00 ',
       ' $266.00 ', ' $1,940.00 ', ' $259.00 ', ' $1,101.00 ',
       ' $2,276.00 ', ' $1,236.00 ', ' $941.00 ', ' $4,243.50 ',
       ' $2,580.00 ', ' $689.00 ', ' $1,947.00 ', ' $908.00 ',
       ' $1,958.00 ', ' $1,901.00 ', ' $1,797.00 ', ' $1,287.00 ',
       ' $1,706.00 ', ' $2,434.50 ', ' $1,774.00 ', ' $1,570.00 ',
       ' $1,369.50 ', ' $2,009.00 ', ' $1,945.00 ', ' $2,844.00 ',
       ' $1,874.00 ', ' $1,642.00 ', ' $831.00 ', ' $1,760.00 ',
       ' $3,850.50 ', ' $2,479.00 ', ' $2,031.00 ', ' $2,261.00 ',
       ' $736.00 ', ' $2,851.00 ', ' $2,021.00 ', ' $274.00 ',
       ' $1,967.00 ', ' $1,859.00 ', ' $1,138.00 ', ' $4,251.00 ',
       ' $795.00 ', ' $1,414.50 ', ' $2,918.00 ', ' $3,450.00 ',
       ' $2,988.00 ', ' $218.00 ', ' $2,074.00 ', ' $1,056.00 ',
       ' $671.00 ', ' $1,465.00 ', ' $2,646.00 ', ' $2,177.00 ',
       ' $866.00 ', ' $349.00 ', ' $1,865.00 ', ' $1,074.00 ',
       ' $1,907.00 ', ' $1,778.00 ', ' $1,159.00 ', ' $1,372.00 ',
       ' $2,349.00 ', ' $2,689.00 ', ' $2,431.00 ', ' $1,683.00 ',
       ' $1,123.00 ', ' $1,116.00 ', ' $1,563.00 ', ' $991.00 ',
       ' $1,016.00 ', ' $2,791.00 ', ' $570.00 ', ' $2,487.00 ',
       ' $1,384.50 ', ' $3,627.00 ', ' $720.00 ', ' $2,342.00 ',
       ' $1,100.00 ', ' $1,303.00 ', ' $2,992.00 ', ' $2,385.00 ',
       ' $1,607.00 ', ' $2,327.00 ', ' $602.00 ', ' $2,620.00 ',
       ' $1,228.00 ', ' $1,389.00 ', ' $861.00 ', ' $704.00 ',
       ' $1,802.00 ', ' $2,663.00 ', ' $2,136.00 ', ' $2,116.00 ',
       ' $555.00 ', ' $2,861.00 ', ' $807.00 ', ' $2,832.00 ',
       ' $1,579.00 ', ' $1,033.00 ', ' $1,250.00 ', ' $1,265.00 ',
       ' $2,297.00 ', ' $1,350.00 ', ' $552.00 ', ' $3,801.00 ',
       ' $1,117.50 ', ' $562.00 ', ' $2,299.00 ', ' $2,030.00 ',
       ' $887.00 ', ' $980.00 ', ' $1,460.00 ', ' $1,403.00 ',
       ' $2,723.00 ', ' $1,496.00 ', ' $952.00 ', ' $2,755.00 ',
       ' $1,530.00 ', ' $1,498.00 ', ' $1,221.00 ', ' $2,076.00 ',
       ' $2,436.00 ', ' $1,987.50 ', ' $1,679.00 ', ' $1,757.00 ',
       ' $2,198.00 ', ' $1,743.00 ', ' $1,153.00 ', ' $1,001.00 ',
       ' $1,333.00 ', ' $1,884.00 ', ' $1,834.00 ', ' $2,340.00 ',
       ' $1,031.00 ', ' $1,262.00 ', ' $1,135.00 ', ' $547.00 ',
       ' $1,582.00 ', ' $1,738.50 ', ' $2,215.00 ', ' $1,761.00 ',
       ' $448.00 ', ' $2,181.00 ', ' $1,976.00 ', ' $2,500.00 ',
       ' $1,702.00 ', ' $3,513.00 ', ' $2,101.00 ', ' $2,931.00 ',
       ' $1,535.00 ', ' $1,404.00 ', ' $2,763.00 ', ' $2,125.00 ',
       ' $1,659.00 ', ' $609.00 ', ' $2,087.00 ', ' $1,421.00 ',
       ' $588.00 ', ' $3,244.50 ', ' $959.00 ', ' $2,747.00 ',
       ' $1,645.00 ', ' $2,876.00 ', ' $994.00 ', ' $1,118.00 ',
       ' $488.00 ', ' $1,282.00 ', ' $257.00 ', ' $1,540.00 ',
       ' $490.00 ', ' $1,362.00 ', ' $2,501.00 ', ' $708.00 ',
       ' $645.00 ', ' $1,562.00 ', ' $1,283.00 ', ' $711.00 ',
       ' $1,114.00 ', ' $1,259.00 ', ' $1,095.00 ', ' $1,366.00 ',
       ' $2,460.00 ', ' $678.00 ', ' $1,598.00 ', ' $2,409.00 ',
       ' $1,934.00 ', ' $2,993.00 ', ' $1,946.00 ', ' $598.00 ',
       ' $2,907.00 ', ' $2,338.00 ', ' $386.00 ', ' $635.00 ',
       ' $574.50 ', ' $381.00 ', ' $422.00 ', ' $2,134.00 ', ' $808.00 ',
       ' $1,520.00 ', ' $1,375.00 ', ' $436.50 ', ' $1,094.00 ',
       ' $3,802.50 ', ' $1,666.00 ', ' $322.00 ', ' $2,321.00 ',
       ' $1,857.00 ', ' $1,611.00 ', ' $2,797.00 ', ' $334.00 ',
       ' $2,565.00 ', ' $2,417.00 ', ' $3,675.00 ', ' $1,227.00 ',
       ' $1,324.00 ', ' $1,775.00 ', ' $245.00 ', ' $3,793.50 ',
       ' $1,307.00 ', ' $567.00 ', ' $2,110.00 ', ' $1,269.00 ',
       ' $1,956.00 ', ' $2,659.00 ', ' $1,351.50 ', ' $880.00 ',
       ' $1,867.00 ', ' $2,234.00 ', ' $877.00 ', ' $2,071.00 ',
       ' $970.00 ', ' $1,694.00 ', ' $819.00 ', ' $1,580.00 ',
       ' $521.00 ', ' $973.00 ', ' $1,038.00 ', ' $360.00 ',
       ' $2,628.00 ', ' $2,682.00 ', ' $1,630.50 ', ' $306.00 ',
       ' $2,328.00 ', ' $3,445.50 ', ' $1,482.00 ', ' $2,313.00 ',
       ' $2,072.00 ', ' $1,954.00 ', ' $591.00 ', ' $2,167.00 ',
       ' $241.00 ', ' $681.00 ', ' $510.00 ', ' $790.00 ', ' $1,596.00 ',
       ' $2,294.00 ', ' $2,665.00 ', ' $853.00 ', ' $341.00 ',
       ' $641.00 ', ' $2,807.00 ', ' $432.00 ', ' $1,870.00 ',
       ' $579.00 ', ' $2,240.00 ', ' $3,520.50 ', ' $2,039.00 ',
       ' $2,574.00 ', ' $707.00 ', ' $1,198.00 ', ' $2,532.00 ',
       ' $384.00 ', ' $472.00 ', ' $1,005.00 ', ' $3,199.50 ',
       ' $1,937.00 ', ' $792.00 ', ' $2,811.00 ', ' $2,441.00 ',
       ' $1,560.00 ', ' $2,706.00 ', ' $2,157.00 ', ' $873.00 ',
       ' $1,122.00 ', ' $2,104.50 ', ' $4,026.00 ', ' $2,425.50 ',
       ' $2,394.00 ', ' $1,984.00 ', ' $2,805.00 ', ' $655.00 ',
       ' $344.00 ', ' $1,808.00 ', ' $1,734.00 ', ' $554.00 ',
       ' $2,935.00 ', ' $3,165.00 ', ' $2,629.00 ', ' $1,433.00 ',
       ' $947.00 ', ' $380.00 ', ' $886.00 ', ' $2,416.00 ',
       ' $2,156.00 ', ' $677.00 ', ' $1,773.00 ', ' $2,420.00 ',
       ' $2,734.00 ', ' $1,715.00 ', ' $1,186.00 ', ' $3,495.00 ',
       ' $905.00 ', ' $1,594.00 ', ' $1,359.00 ', ' $2,150.00 ',
       ' $1,197.00 ', ' $1,233.00 ', ' $1,395.00 ', ' $2,109.00 ',
       ' $3,874.50 ', ' $623.00 ', ' $2,387.00 ', ' $270.00 ',
       ' $3,421.50 ', ' $2,548.00 ', ' $2,521.50 ', ' $2,661.00 ',
       ' $1,531.00 ', ' $1,491.00 ', ' $2,761.00 ', ' $2,567.00 ',
       ' $1,790.00 ', ' $442.00 ', ' $982.50 ', ' $1,298.00 ',
       ' $604.00 ', ' $2,255.00 ', ' $1,249.00 ', ' $1,438.50 ',
       ' $2,641.00 ', ' $2,708.00 ', ' $2,632.00 ', ' $1,583.00 ',
       ' $571.00 ', ' $2,696.00 ', ' $1,565.00 ', ' $357.00 ',
       ' $1,013.00 ', ' $3,997.50 ', ' $1,190.00 ', ' $660.00 ',
       ' $410.00 ', ' $2,605.00 ', ' $1,770.00 ', ' $2,579.00 ',
       ' $2,996.00 ', ' $280.00 ', ' $293.00 ', ' $278.00 ',
       ' $2,428.00 ', ' $1,767.00 ', ' $1,393.00 ', ' $2,015.00 ',
       ' $801.00 ', ' $1,023.00 ', ' $1,010.00 ', ' $2,300.00 ',
       ' $2,227.50 ', ' $1,199.00 ', ' $200.00 ', ' $388.00 ',
       ' $1,727.00 ', ' $260.00 ', ' $2,914.00 ', ' $1,731.00 ',
       ' $700.00 ', ' $2,222.00 ', ' $1,177.00 ', ' $1,922.00 ',
       ' $1,575.00 ', ' $606.00 ', ' $269.00 ', ' $2,536.00 ',
       ' $2,903.00 ', ' $2,541.00 ', ' $1,281.00 ', ' $2,475.00 ',
       ' $1,174.00 ', ' $2,767.00 ', ' $1,085.00 ', ' $546.00 ',
       ' $1,158.00 ', ' $1,614.00 ', ' $2,535.00 ', ' $2,559.00 ',
       ' $267.00 ', ' $1,175.00 ', ' $2,007.00 ', ' $914.00 ',
       ' $500.00 ', ' $2,826.00 ', ' $2,438.00 ', ' $865.50 ',
       ' $492.00 ', ' $2,954.00 ', ' $1,368.00 ', ' $723.00 ',
       ' $1,806.00 '], dtype=object)

In [14]:
df['Units Sold'] = df['Units Sold'].str.strip()

Disini terlihat bahwa data 'Units Sold' dalam $ memiliki tipe data string, oleh karena itu akan kita ganti menjadi float.

In [15]:
df['Units Sold'] = df['Units Sold'].str.replace('$','').str.replace(',','').astype('float')

<ipython-input-15-e5900ffadb95>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Units Sold'] = df['Units Sold'].str.replace('$','').str.replace(',','').astype('float')

Selanjutnya, akan dirubah tipe data pada kolom Manufacturing Price, Sale Price,	Gross Sales, Discounts, Sales, COGS, dan Profit menjadi float. Dengan langkah yang sama seperti sebelumnya terhadap kolom Units Sold

In [16]:
df['Manufacturing Price'] = df['Manufacturing Price'].str.strip()
df['Manufacturing Price'] = df['Manufacturing Price'].str.replace('$','').str.replace(',','').astype('float')

<ipython-input-16-2ed3bddab423>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Manufacturing Price'] = df['Manufacturing Price'].str.replace('$','').str.replace(',','').astype('float')

In [17]:
df['Sale Price'] = df['Sale Price'].str.strip()
df['Sale Price'] = df['Sale Price'].str.replace('$','').str.replace(',','').astype('float')

<ipython-input-17-5875fea8a4d1>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Sale Price'] = df['Sale Price'].str.replace('$','').str.replace(',','').astype('float')

In [18]:
df['Gross Sales'] = df['Gross Sales'].str.strip()
df['Gross Sales'] = df['Gross Sales'].str.replace('$','').str.replace(',','').astype('float')

<ipython-input-18-26ad05fd0b31>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Gross Sales'] = df['Gross Sales'].str.replace('$','').str.replace(',','').astype('float')

Pada kolom Discounts terhadap value "-", mari kita lihat unique values dari kolom tersebut.

In [19]:
df['Discounts'].unique()

array([' $-   ', ' $276.15 ', ' $344.40 ', ' $72.10 ', ' $44.73 ',
       ' $92.82 ', ' $222.96 ', ' $4,235.00 ', ' $177.03 ', ' $173.40 ',
       ' $412.50 ', ' $320.52 ', ' $91.92 ', ' $1,482.00 ', ' $4,889.50 ',
       ' $7,542.50 ', ' $332.10 ', ' $6,903.00 ', ' $275.10 ',
       ' $128.10 ', ' $7,494.00 ', ' $828.75 ', ' $227.10 ', ' $314.48 ',
       ' $908.75 ', ' $983.75 ', ' $2,278.75 ', ' $112.05 ',
       ' $8,715.00 ', ' $772.80 ', ' $25.34 ', ' $1,153.75 ', ' $146.44 ',
       ' $18.41 ', ' $3,302.25 ', ' $2,958.00 ', ' $2,180.00 ',
       ' $238.68 ', ' $48.15 ', ' $1,856.25 ', ' $310.80 ', ' $1,284.00 ',
       ' $300.30 ', ' $19,964.00 ', ' $274.08 ', ' $626.40 ', ' $165.60 ',
       ' $4,150.00 ', ' $708.90 ', ' $5,508.00 ', ' $10,368.00 ',
       ' $1,655.00 ', ' $2,022.50 ', ' $5,362.50 ', ' $428.40 ',
       ' $11,496.00 ', ' $6,822.50 ', ' $577.50 ', ' $281.82 ',
       ' $253.20 ', ' $260.16 ', ' $20,762.00 ', ' $20,139.00 ',
       ' $217.60 ', ' $1,862.00 ', ' $13,580.00 ', ' $1,554.00 ',
       ' $6,606.00 ', ' $5,690.00 ', ' $494.40 ', ' $376.40 ',
       ' $15,913.13 ', ' $1,548.00 ', ' $6,201.00 ', ' $700.92 ',
       ' $326.88 ', ' $411.18 ', ' $684.36 ', ' $114.24 ', ' $18,868.50 ',
       ' $4,826.25 ', ' $6,397.50 ', ' $21,910.50 ', ' $6,652.50 ',
       ' $5,887.50 ', ' $493.02 ', ' $7,533.75 ', ' $875.25 ',
       ' $25,596.00 ', ' $689.76 ', ' $16,866.00 ', ' $17,241.00 ',
       ' $498.60 ', ' $369.60 ', ' $2,310.30 ', ' $892.44 ',
       ' $1,218.60 ', ' $1,356.60 ', ' $588.80 ', ' $798.28 ',
       ' $24,252.00 ', ' $3,836.00 ', ' $1,180.20 ', ' $22,308.00 ',
       ' $1,190.28 ', ' $3,975.00 ', ' $16,974.00 ', ' $35,016.00 ',
       ' $48,300.00 ', ' $14,940.00 ', ' $130.80 ', ' $1,659.20 ',
       ' $844.80 ', ' $402.60 ', ' $908.40 ', ' $703.20 ', ' $2,116.80 ',
       ' $30,478.00 ', ' $415.68 ', ' $4,886.00 ', ' $26,110.00 ',
       ' $5,370.00 ', ' $26,698.00 ', ' $24,892.00 ', ' $405.65 ',
       ' $480.20 ', ' $822.15 ', ' $941.15 ', ' $1,458.60 ', ' $589.05 ',
       ' $673.80 ', ' $1,119.00 ', ' $669.60 ', ' $1,563.00 ',
       ' $14,865.00 ', ' $355.60 ', ' $2,093.25 ', ' $199.50 ',
       ' $870.45 ', ' $24,228.75 ', ' $22,668.75 ', ' $12,600.00 ',
       ' $1,405.20 ', ' $16,500.00 ', ' $1,303.00 ', ' $18,700.00 ',
       ' $14,906.25 ', ' $24,105.00 ', ' $814.45 ', ' $10,535.00 ',
       ' $1,965.00 ', ' $21,490.00 ', ' $1,389.00 ', ' $5,381.25 ',
       ' $4,400.00 ', ' $1,802.00 ', ' $2,663.00 ', ' $747.60 ',
       ' $1,587.00 ', ' $416.25 ', ' $2,145.75 ', ' $5,043.75 ',
       ' $2,832.00 ', ' $1,579.00 ', ' $1,033.00 ', ' $18,750.00 ',
       ' $1,265.00 ', ' $2,297.00 ', ' $23,625.00 ', ' $9,660.00 ',
       ' $3,420.90 ', ' $1,341.00 ', ' $2,559.60 ', ' $404.64 ',
       ' $1,655.28 ', ' $1,827.00 ', ' $110.46 ', ' $20,580.00 ',
       ' $30,660.00 ', ' $589.26 ', ' $1,960.56 ', ' $31,416.00 ',
       ' $15,267.00 ', ' $7,140.00 ', ' $20,662.50 ', ' $1,377.00 ',
       ' $629.16 ', ' $21,978.00 ', ' $43,596.00 ', ' $1,347.60 ',
       ' $43,848.00 ', ' $35,259.00 ', ' $2,108.40 ', ' $1,978.20 ',
       ' $1,568.70 ', ' $1,037.70 ', ' $1,201.20 ', ' $559.86 ',
       ' $610.68 ', ' $1,582.56 ', ' $2,567.60 ', ' $1,965.60 ',
       ' $1,967.28 ', ' $505.19 ', ' $1,325.10 ', ' $556.15 ',
       ' $268.03 ', ' $775.18 ', ' $1,460.34 ', ' $1,860.60 ',
       ' $43,144.50 ', ' $9,408.00 ', ' $45,801.00 ', ' $2,766.40 ',
       ' $21,875.00 ', ' $35,742.00 ', ' $30,738.75 ', ' $2,206.05 ',
       ' $3,077.55 ', ' $2,149.00 ', ' $23,583.00 ', ' $29,484.00 ',
       ' $2,320.92 ', ' $1,041.25 ', ' $34,839.00 ', ' $852.60 ',
       ' $18,261.25 ', ' $1,989.40 ', ' $28,812.00 ', ' $823.20 ',
       ' $2,725.38 ', ' $57,687.00 ', ' $14,393.75 ', ' $70,462.00 ',
       ' $8,697.50 ', ' $1,565.20 ', ' $273.28 ', ' $2,051.20 ',
       ' $143.92 ', ' $15,400.00 ', ' $588.00 ', ' $38,136.00 ',
       ' $3,001.20 ', ' $1,132.80 ', ' $1,032.00 ', ' $37,488.00 ',
       ' $30,792.00 ', ' $853.20 ', ' $11,140.00 ', ' $705.04 ',
       ' $613.20 ', ' $2,185.60 ', ' $59,040.00 ', ' $379.68 ',
       ' $894.88 ', ' $1,349.04 ', ' $3,094.40 ', ' $4,788.80 ',
       ' $60,088.00 ', ' $1,089.76 ', ' $574.08 ', ' $1,627.92 ',
       ' $1,309.28 ', ' $9,264.00 ', ' $15,240.00 ', ' $16,086.00 ',
       ' $10,668.00 ', ' $11,816.00 ', ' $51,216.00 ', ' $19,392.00 ',
       ' $2,432.00 ', ' $1,320.00 ', ' $698.40 ', ' $29,538.00 ',
       ' $396.36 ', ' $1,02,667.50 ', ' $52,479.00 ', ' $8,694.00 ',
       ' $2,506.68 ', ' $20,891.25 ', ' $1,014.93 ', ' $31,466.25 ',
       ' $9,018.00 ', ' $69,255.00 ', ' $76,135.50 ', ' $4,961.25 ',
       ' $1,656.45 ', ' $35,748.00 ', ' $1,917.00 ', ' $330.75 ',
       ' $1,02,424.50 ', ' $41,170.50 ', ' $6,378.75 ', ' $23,737.50 ',
       ' $39,973.50 ', ' $2,112.48 ', ' $71,793.00 ', ' $42,572.25 ',
       ' $950.40 ', ' $50,409.00 ', ' $2,412.72 ', ' $9,866.25 ',
       ' $65,236.50 ', ' $1,309.50 ', ' $3,049.20 ', ' $1,193.40 ',
       ' $515.97 ', ' $1,706.40 ', ' $328.23 ', ' $1,751.40 ',
       ' $1,868.40 ', ' $226.80 ', ' $2,124.36 ', ' $3,547.80 ',
       ' $4,827.60 ', ' $2,201.18 ', ' $330.48 ', ' $463.20 ',
       ' $1,629.60 ', ' $43,068.75 ', ' $18,525.00 ', ' $80,955.00 ',
       ' $22,550.00 ', ' $3,108.00 ', ' $3,908.00 ', ' $17,730.00 ',
       ' $3,250.50 ', ' $482.00 ', ' $1,021.50 ', ' $765.00 ',
       ' $1,185.00 ', ' $22,365.00 ', ' $19,950.00 ', ' $68,820.00 ',
       ' $1,865.50 ', ' $23,950.00 ', ' $25,590.00 ', ' $4,262.50 ',
       ' $961.50 ', ' $98,245.00 ', ' $12,960.00 ', ' $31,612.50 ',
       ' $65,450.00 ', ' $7,237.50 ', ' $78,400.00 ', ' $89,790.00 ',
       ' $4,224.60 ', ' $4,078.00 ', ' $3,088.80 ', ' $24,745.00 ',
       ' $1,581.36 ', ' $1,949.64 ', ' $633.60 ', ' $623.04 ',
       ' $1,215.83 ', ' $1,326.60 ', ' $5,279.18 ', ' $2,556.84 ',
       ' $30,492.00 ', ' $92,763.00 ', ' $33,563.75 ', ' $2,574.00 ',
       ' $2,083.62 ', ' $29,491.00 ', ' $6,582.40 ', ' $3,559.05 ',
       ' $28,809.00 ', ' $2,468.40 ', ' $81,023.25 ', ' $5,314.32 ',
       ' $3,201.66 ', ' $5,266.80 ', ' $3,273.60 ', ' $45,078.00 ',
       ' $6,171.00 ', ' $1,080.75 ', ' $13,244.00 ', ' $1,392.16 ',
       ' $2,288.88 ', ' $7,617.50 ', ' $6,457.00 ', ' $43,518.75 ',
       ' $5,783.80 ', ' $19,703.75 ', ' $13,021.25 ', ' $292.60 ',
       ' $37,212.00 ', ' $36,240.00 ', ' $32,340.00 ', ' $4,840.20 ',
       ' $63,828.00 ', ' $2,032.80 ', ' $2,296.56 ', ' $4,116.00 ',
       ' $42,696.00 ', ' $1,25,820.00 ', ' $2,172.00 ', ' $66,948.00 ',
       ' $48,924.00 ', ' $77,400.00 ', ' $50,274.00 ', ' $684.00 ',
       ' $2,959.20 ', ' $58,590.00 ', ' $41,412.00 ', ' $3,036.96 ',
       ' $6,974.10 ', ' $26,166.00 ', ' $35,805.00 ', ' $11,340.00 ',
       ' $2,874.06 ', ' $4,586.40 ', ' $6,051.60 ', ' $3,831.84 ',
       ' $3,674.40 ', ' $1,252.44 ', ' $3,975.84 ', ' $5,005.65 ',
       ' $41,996.50 ', ' $81,445.00 ', ' $1,149.20 ', ' $44,703.75 ',
       ' $1,181.18 ', ' $942.24 ', ' $5,863.00 ', ' $3,247.40 ',
       ' $1,309.04 ', ' $31,473.00 ', ' $6,866.60 ', ' $7,040.80 ',
       ' $1,19,756.00 ', ' $25,723.75 ', ' $890.76 ', ' $2,453.36 ',
       ' $3,051.75 ', ' $16,243.50 ', ' $1,580.28 ', ' $7,795.13 ',
       ' $1,082.90 ', ' $1,287.00 ', ' $639.60 ', ' $1,01,595.00 ',
       ' $26,958.75 ', ' $2,761.20 ', ' $7,221.20 ', ' $4,880.40 ',
       ' $2,936.08 ', ' $274.40 ', ' $287.14 ', ' $583.80 ',
       ' $6,798.40 ', ' $3,710.70 ', ' $2,340.24 ', ' $3,385.20 ',
       ' $33,642.00 ', ' $17,902.50 ', ' $62,832.00 ', ' $42,420.00 ',
       ' $3,177.30 ', ' $4,830.00 ', ' $49,367.50 ', ' $1,09,147.50 ',
       ' $58,751.00 ', ' $9,800.00 ', ' $380.24 ', ' $1,692.46 ',
       ' $728.00 ', ' $5,187.00 ', ' $3,660.30 ', ' $4,895.52 ',
       ' $1,696.38 ', ' $34,300.00 ', ' $3,732.96 ', ' $57,673.00 ',
       ' $94,178.00 ', ' $27,562.50 ', ' $1,696.80 ', ' $1,03,320.00 ',
       ' $11,298.00 ', ' $1,06,512.00 ', ' $2,844.94 ', ' $1,06,722.00 ',
       ' $62,769.00 ', ' $37,296.00 ', ' $49,770.00 ', ' $4,158.00 ',
       ' $3,927.00 ', ' $22,012.50 ', ' $51,881.25 ', ' $20,343.75 ',
       ' $24,570.00 ', ' $3,474.00 ', ' $3,631.50 ', ' $2,661.75 ',
       ' $1,49,677.50 ', ' $5,757.75 ', ' $801.00 ', ' $2,643.75 ',
       ' $1,05,367.50 ', ' $1,12,927.50 ', ' $1,645.20 ', ' $879.00 ',
       ' $900.00 ', ' $6,358.50 ', ' $12,431.25 ', ' $1,15,830.00 ',
       ' $45,712.50 ', ' $2,596.50 ', ' $1,107.00 ', ' $55,387.50 ',
       ' $10,350.00 ', ' $1,11,375.00 ', ' $1,436.40 ', ' $759.15 ',
       ' $3,250.80 '], dtype=object)

Setelah melihat values dari kolom Discounts, value "-" dapat kita rubah menjadi 0.

In [20]:
df['Discounts'] = df['Discounts'].str.strip()

In [21]:
df['Discounts'] = df['Discounts'].str.replace('$','').str.replace(',','').str.replace('-',"0")

<ipython-input-21-954efbe1fcee>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Discounts'] = df['Discounts'].str.replace('$','').str.replace(',','').str.replace('-',"0")

In [22]:
df['Discounts'] = pd.to_numeric(df['Discounts']) # pd.to_numeric digunakan untuk mengatasi jika masih ada values yang bukan merupakan number

Mari kita lanjutkan merubah tipe data dari kolom Sales, COGS, dan Profit, kali ini menggunakan metode pd.to_numberic(df['column']), untuk mengatasi jika masih ada values dalam kolom tersebut yang bukan merupakan objek number.

In [23]:
df['Sales'] = df['Sales'].str.strip()
df['Sales'] = df['Sales'].str.replace('$','').str.replace(',','').str.replace('-',"0")
df['Sales'] = pd.to_numeric(df['Sales'])

<ipython-input-23-40fe178d285d>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Sales'] = df['Sales'].str.replace('$','').str.replace(',','').str.replace('-',"0")

In [24]:
df['COGS'] = df['COGS'].str.strip()
df['COGS'] = df['COGS'].str.replace('$','').str.replace(',','').str.replace('-',"0")
df['COGS'] = pd.to_numeric(df['COGS'])

<ipython-input-24-25cba6067e6b>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['COGS'] = df['COGS'].str.replace('$','').str.replace(',','').str.replace('-',"0")

In [25]:
df['Profit'] = df['Profit'].str.strip()
df['Profit'] = df['Profit'].str.replace('$','').str.replace(',','').str.replace('-',"0")

<ipython-input-25-43c74702a487>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Profit'] = df['Profit'].str.replace('$','').str.replace(',','').str.replace('-',"0")

Pada kolom Profit, terdapat value seperti "(4533.75)" yang berarti bahwa terjadi defisit, yang akan kita rubah menjadi nilai negatif menggunakan metode .apply()

In [26]:
def numeric_negative(profit):
    if '(' in profit and ')' in profit:
        return -1 * pd.to_numeric(profit.replace('(', '').replace(')', ''))
    else:
        return pd.to_numeric(profit)

df['Profit'] = df['Profit'].apply(numeric_negative)

Sekarang mari kita lihat df yang sudah dibersihkan.

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              700 non-null    object
 1   Country              700 non-null    object
 2   Product              700 non-null    object
 3   Discount Band        700 non-null    object
 4   Units Sold           700 non-null    float64
 5   Manufacturing Price  700 non-null    float64
 6   Sale Price           700 non-null    float64
 7   Gross Sales          700 non-null    float64
 8   Discounts            700 non-null    float64
 9   Sales                700 non-null    float64
 10  COGS                 700 non-null    float64
 11  Profit               700 non-null    float64
 12  Date                 700 non-null    object
 13  Month Number         700 non-null    int64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    int64
dtypes: float64(8), int64(2), object(6)
memory usage: 87.6+ KB

In [28]:
df.tail(20)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
680,Channel Partners,United States of America,Paseo,High,914.0,10.0,12.0,10968.0,1645.20,9322.80,2742.0,6580.80,01/12/2014,12,December,2014
681,Government,France,Paseo,High,293.0,10.0,20.0,5860.0,879.00,4981.00,2930.0,2051.00,01/12/2014,12,December,2014
682,Channel Partners,Mexico,Velo,High,500.0,120.0,12.0,6000.0,900.00,5100.00,1500.0,3600.00,01/03/2014,3,March,2014
683,Midmarket,France,Velo,High,2826.0,120.0,15.0,42390.0,6358.50,36031.50,28260.0,7771.50,01/05/2014,5,May,2014
684,Enterprise,France,Velo,High,663.0,120.0,125.0,82875.0,12431.25,70443.75,79560.0,-9116.25,01/09/2014,9,September,2014
685,Small Business,United States of America,Velo,High,2574.0,120.0,300.0,772200.0,115830.00,656370.00,643500.0,12870.00,01/11/2013,11,November,2013
686,Enterprise,United States of America,Velo,High,2438.0,120.0,125.0,304750.0,45712.50,259037.50,292560.0,-33522.50,01/12/2013,12,December,2013
687,Channel Partners,United States of America,Velo,High,914.0,120.0,12.0,10968.0,1645.20,9322.80,2742.0,6580.80,01/12/2014,12,December,2014
688,Government,Canada,VTT,High,865.5,250.0,20.0,17310.0,2596.50,14713.50,8655.0,6058.50,01/07/2014,7,July,2014
689,Midmarket,Germany,VTT,High,492.0,250.0,15.0,7380.0,1107.00,6273.00,4920.0,1353.00,01/07/2014,7,July,2014
690,Government,United States of America,VTT,High,267.0,250.0,20.0,5340.0,801.00,4539.00,2670.0,1869.00,01/10/2013,10,October,2013
691,Midmarket,Germany,VTT,High,1175.0,250.0,15.0,17625.0,2643.75,14981.25,11750.0,3231.25,01/10/2014,10,October,2014
692,Enterprise,Canada,VTT,High,2954.0,250.0,125.0,369250.0,55387.50,313862.50,354480.0,-40617.50,01/11/2013,11,November,2013
693,Enterprise,Germany,VTT,High,552.0,250.0,125.0,69000.0,10350.00,58650.00,66240.0,-7590.00,01/11/2014,11,November,2014
694,Government,France,VTT,High,293.0,250.0,20.0,5860.0,879.00,4981.00,2930.0,2051.00,01/12/2014,12,December,2014
695,Small Business,France,Amarilla,High,2475.0,260.0,300.0,742500.0,111375.00,631125.00,618750.0,12375.00,01/03/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260.0,300.0,163800.0,24570.00,139230.00,136500.0,2730.00,01/10/2014,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5.0,7.0,9576.0,1436.40,8139.60,6840.0,1299.60,01/02/2014,2,February,2014
698,Government,Canada,Paseo,High,723.0,10.0,7.0,5061.0,759.15,4301.85,3615.0,686.85,01/04/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250.0,12.0,21672.0,3250.80,18421.20,5418.0,13003.20,01/05/2014,5,May,2014

### **3. Data Normalization**

Setelah melihat data yang sudah di bersihkan, dapat dilakukan normaliasi dengan membagi df menjadi 5 tabel. Yaitu:

In [29]:
countries = df[['Country']].copy() # .copy() digunakan agar tabel terpisah dapat di edit lagi jika perlu tanpa merubah value dalam df awal.

segment = df[['Segment']].copy()

discount = df[['Discount Band']].copy()

product_info = df[['Product','Manufacturing Price', 'Sale Price']].copy()

dates = df[['Month Name','Year','Month Number','Date']].copy()

sales_information = df[['Units Sold','Gross Sales','Discounts','Sales','COGS','Profit']].copy()

Selanjutnya, mari kita rubah semua tabel tersebut dalam bentuk csv.

In [30]:
countries.to_csv('countries.csv', index=False)
segment.to_csv('segment.csv', index = False)
product_info.to_csv('product_info.csv', index=False)
sales_information.to_csv('sales_information.csv', index=False)
dates.to_csv('dates.csv', index=False)
discount.to_csv('discount.csv', index=False)

## **5. Pengujian Database**

In [33]:
country_sales = pd.read_csv('https://raw.githubusercontent.com/rahardianfatoni/ngc-1/main/country-sales.csv')
segment_sales = pd.read_csv('https://raw.githubusercontent.com/rahardianfatoni/ngc-1/main/segment-total_profit.csv')

In [34]:
country_sales

                    country      avg_sales  min_sales  max_sales
0                    France  173958.373500    1763.86   962500.0
1                   Germany  167895.291571    1685.60  1017338.0
2  United States of America  178784.501286    1730.54  1159200.0
3                    Mexico  149638.229357    2508.66   848172.5
4                    Canada  177768.963500    1655.08  1038082.5

In [35]:
segment_sales

            segment  total_profit
0        Enterprise    -675545.62
1    Small Business    3848268.50
2  Channel Partners    1150321.14
3         Midmarket     563253.09
4        Government   10270950.18

**QUERY:**

*   SELECT segment.segment, SUM(sales_information.profit) AS total_profit
FROM segment
LEFT JOIN sales_information ON sales_information.segment_id = segment.segment_id
LEFT JOIN discount ON sales_information.discount_id = discount.discount_id
WHERE discount.discount_band != 'None'
GROUP BY segment;
*   SELECT countries.country, AVG(sales_information.sales) AS avg_sales,
MIN(sales_information.sales) AS min_sales,
MAX(sales_information.sales) AS max_sales
FROM countries
LEFT JOIN sales_information ON sales_information.country_id = countries.country_id
GROUP BY countries.country;